<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<% include ../partials/nav.ejs %>
<h3 id="edit-title">Editing: <%= bookmark.bookmarkName %></h3>

<div class="update-bookmark">
	<form id="bookmark-form" action="/edit/<%= bookmark._id %>" method="post">
	  <div class="edit-field mdl-textfield mdl-js-textfield">
	    <input class="mdl-textfield__input bookmark-input" type="text" id="sample1" 
	    name="name" value="<%= bookmark.bookmarkName %>">
	    <label class="mdl-textfield__label" for="sample1"><%= bookmark.bookmarkName %></label>
	  </div>
	  <div class="edit-field mdl-textfield mdl-js-textfield">
	    <input class="mdl-textfield__input bookmark-input" type="text" id="sample2" 
	    name="url" value="<%= bookmark.url %>">
	    <label class="mdl-textfield__label" for="sample2"><%= bookmark.url %></label>
	  </div>
	  <h4 id="bookmark-tags">Bookmark tags</h4>
	  
	  	<% bookmark.tags.forEach(function(tag,i,arr) {  %>
	  		<input type="checkbox" name="edtags" value="<%= tag %>" checked>
	  		<label><%= tag %></label>
	  	<% }); %>
		<br>
	  <button id="submit-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit">
	    Update Bookmark
	  </button>
	</form>
</div>
<% include ../partials/footer.ejs %>
</body>
</html>
